<!DOCTYPE html>

<html>
   
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grupos de Combates</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width">
    <script src="../../static/marvel/js/jquery/jQuery-3.3.1.min.js"></script>
    <script src="../../static/marvel/js/bootstrap.min.js"></script> 
    <script src="../../static/marvel/js/AgregarGrupo.js"></script>
    <link rel="stylesheet" href="../../static/marvel/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/marvel/css/battle.css">
    
</head>


<header class="container" style="color:white;background-color:rgba(117, 117, 117, 0.342)">
        <h1>Banco de datos de Personajes de Marvel</h1>
        <hr/>
</header>    

<body class="container"> 
  <section class="container navegacion" >
    <!--
    <nav class="navbar navbar-light bg-light justify-content-between"  >
      <a class="navbar-brand">Navbar</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>-->
    <div id="miniaturas_heroes" class="row justify-content-between" >

      <div class='card' style='width: 7rem; position: relative;'>
        <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height : 70%'>
        <center> <h5 class='card-title'>Nombre</h5> </center>
      </div> 

      <div class='card' style='width: 7rem; position: relative;'>
          <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height : 70%'>
          <center> <h5 class='card-title'>Nombre</h5> </center>
      </div>
      
      <div class='card' style='width: 7rem; position: relative;'>
          <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height : 70%'>
          <center> <h5 class='card-title'>Nombre</h5> </center>
      </div>

      <div class='card' style='width: 7rem; position: relative;'>
        <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height : 70%'>
        <center> <h5 class='card-title'>Nombre</h5> </center>
      </div>

      <div class='card' style='width:7rem; position: relative;'>
        <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height : 70%'>
        <center> <h5 class='card-title'>Nombre</h5> </center>
      </div>

      <div class='card' style='width: 7rem; position: relative;'>
        <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height : 70%'>
        <center> <h5 class='card-title'>Nombre</h5> </center>
      </div>

      <div class='card' style='width: 7rem; position: relative;'>
        <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height : 70%'>
        <center> <h5 class='card-title'>Nombre</h5> </center>
      </div>

      <div class='card' style='width: 7rem; position: relative;'>
        <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height : 70%'>
        <center> <h5 class='card-title'>Nombre</h5> </center>
      </div> 

      <div class='card' style='width: 7rem; position: relative;'>
        <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height :70%'>
        <center> <h5 class='card-title'>Nombre</h5> </center>
      </div>

      <div class='card' style='width: 7rem; position: relative;'>
        <img class='card-img-top ' src='../../static/marvel/img/iconHero.png' alt='Card image cap' style='width:100%; height : 70%'>
        <center> <h5 class='card-title'>Nombre</h5> </center>
      </div>

    </div>
  </section>
  <hr>
  <section id="edicion_grupo" class="row justify-content-between" style="background-color:rgba(39, 39, 39, 0.342);color:white;" >
    
    <div class="container" id='ficha_heroe'> <!-- visor de herore-->
      <section class="row"> <!-- columna de datos-->
        <div class="container" id= 'imagen_heroe'>                 
          <img class='card-img-top ' src='../../static/marvel/img/HeroePerfil.png' alt='Card image cap' >
          <button type="button" class="btn  btn-danger" style="position:absolute;margin-top:-4%;margin-left: 0.5%" >Eliminar</button>
          <button type="button" class="btn btn-success" style="position:absolute;margin-top:-4%;margin-left: 10%" >Agregar</button>
        </div>

        <div class="container" id='datos_heroe' > <!--datos primarios-->
          <p style="margin:-1.5% 0;"> <font SIZE=2>Nombre original: </font> </p>
          <hr style="margin:-1% 0;">
          <p style="margin:-1.5% 0;"> <font SIZE=2>Nombre Real: </font> </p>
          <hr style="margin:-1% 0;">
          <p style="margin:-1.5% 0;"> <font SIZE=2>Identidad: </font> </p>
          <hr style="margin:-1% 0;">
          <p style="margin:-1.5% 0;"> <font SIZE=2>Profesion: </font> </p>
          <hr style="margin:-1% 0;">
          <p style="margin:-1.5% 0;"> <font SIZE=2>Lugar de nacimiento: </font> </p>
          <hr style="margin:-1% 0;">
          <p style="margin:-1.5% 0;"> <font SIZE=2>Estado civil: </font> </p>
          <hr style="margin:-1% 0;">
           <p style="margin:-1.5% 0;"> <font SIZE=2>Altura: </font> </p>
          <hr style="margin:-1% 0;">
           <p style="margin:-1.5% 0;"> <font SIZE=2>Peso: </font> </p>
          <hr style="margin:-1% 0;">
           <p style="margin:-1.5% 0;"> <font SIZE=2>Ojos: </font> </p>
          <hr style="margin:-1% 0;">
          <br>
          <div class="row" id='lista_info' style="background-color:rgba(255, 255, 255, 0.623);"> 

            <div class="container" id="division_secciones"> <!-- Seccion 1 Poderes-->
                <header id='titulo_lista'>
                  <p> <b>Poderes</b></p>
                </header>
                <div class="container" id='division_lista'>
                    
                    <ul class="list-goup">
                      <li class="list-group-item list-group-item-info">
                        <p> correr</p>
                      </li>
                    </ul>                    
                </div>
            </div>
            

            <div class="container" id="division_secciones"> <!-- Seccion 2 Afiliaciones-->
              <header id='titulo_lista'>
                  <p><b>Afiliaciones</b></p>
              </header>
              <div class="container" id='division_lista'>                  
                  <ul class="list-goup">
                    <li class="list-group-item list-group-item-info">
                      <p> Shield</p>
                    </li>
                  </ul>      
                                
              </div>
            </div>

            <div class="container" id="division_secciones"> <!-- Seccion 3 Parientes-->
              <header id='titulo_lista'>
                <p ><b>Parientes</b></p>
              </header>
              <div class="container" id='division_lista'>
                  
                  <ul class="list-goup">
                    <li class="list-group-item list-group-item-info">
                      <p> Tio Ben</p>
                    </li>
                  </ul>                    
              </div>
            </div>

            <div class="container" id="division_secciones"> <!-- Seccion 4 Alias-->
              <header id='titulo_lista'>
                <p><b>Alias</b></p>
              </header>
              <div class="container" id='division_lista'>
                  
                  <ul class="list-goup">
                    <li class="list-group-item list-group-item-info" >
                      <p> Cambur</p>
                    </li>
                  </ul> 

              </div>
            </div>

          </div>

        </div><!--Fin datos primarios-->
        
        <section class="row" id="extra_datos">
            <div class="container" id="seccion_biografia"> <!--Seccion biografia-->
              <div class="panel panel-danger">
                  <div class="panel-heading" id='titulo_biografia'>Biografia</div>
                  <div class="panel-body" id='contenido_biografia'>
                    <p>
                      Toda la biografia <!-- AQUI!!! SOLO QUIERO PROBAR QUE SI ESCRIBE TODOS LOS NOMBRES DE LA BSD -->
                      {%for data in obj%} 
                      [{%data.nombre%}]
                      {%endfor%}
                    </p>
                  </div>
              </div>
            </div>
    
            <div class="container" id="seccion_estadisticas" > <!--Seccion Estadisticas-->
              <table class="table table-sm" id="estadisticas">
                  <thead class="thead-dark"> 
                      <tr>
                        <th scope="col">Atributo</th> 
                        <th> <center>1</center></th> 
                        <th> <center>2</center></th>
                        <th> <center>3</center></th>
                        <th> <center>4</center></th>
                        <th> <center>5</center></th>
                        <th> <center>6</center></th>
                        <th> <center>7</center></th>                                          
                      </tr>
                  </thead>   
                  <tbody> 
                    <tr>
                       <th scope="row">Fuerza</th>
                       <td class="table-primary"></td>
                       <td class="table-primary"></td>
                       <td class="table-primary"></td>
                    </tr>                   
                    <tr>
                      <th scope="row">Inteligen</th>
                      <td class="table-primary"></td>
                      <td class="table-primary"></td>
                      <td class="table-primary"></td>
                      <td class="table-primary"></td>
                    </tr>
                    <tr>
                      <th scope="row">Agilidad</th>
                      <td class="table-primary"></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Resist</th>
                      <td class="table-primary"></td>
                      <td class="table-primary"></td>
                    </tr>
          
                    <tr>
                      <th scope="row">Proyect Energy</th>
                      <td class="table-primary"></td>
                      <td class="table-primary"></td>
                      <td class="table-primary"></td>
                      <td class="table-primary"></td>
                    </tr>
          
                    <tr>
                      <th scope="row">Hab combat</th>
                      <td class="table-primary"></td>
                      <td class="table-primary"></td>
                    </tr>
                  </tbody>
                  
                </table>
    
            </div>
            
        </section>
        
      </section>
              
    </div><!--Fin visor de heroes-->
    
    <div class="container" id='lista_heroe'> <!-- lista de heroes-->
      <div id='titulo_listado'>
        <h4>Miembros del grupo:</h4>        
        <h4 id="nombre_del_grupo"> <center id='palabra_nombre'>Nombre</center></h4>
        <br>
      </div>
      <div id="scroll_heroe">
          <div class="list-group">          
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
              <button type="button" class="list-group-item list-group-item-action">Nombre</button>
          </div>     
      </div>       
    </div>
    
    <div class="container" id='lista_grupo'>  <!-- lista de grupos-->
        <div class="container" id='titulo_listado'>
          <h4>Grupos</h4>          
          <div class="row justify-content-between">
            <input id='nombre_grupo' class="form-control mr-sm-2" type="search" placeholder="Nombre" aria-label="Nombre" style="width:65%">
            <button class="btn btn-primary my-2 my-sm-0" type="submit" onclick="agregarNuevo('agregar_nuevo_grupo',$('#nombre_grupo').val());">Agregar</button>
          </div>
          <br>
        </div>
        <div id="scroll_grupo">
            <div class="list-group" id="agregar_nuevo_grupo">          
                
              

            </div>     
        </div>      
    </div>
  </section>
</body>

<!-- Footer -->
<footer class="page-footer font-small indigo" style="background-color:rgba(43, 43, 43, 0.514);color:white;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>