<!DOCTYPE html>

<html>
   
<head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Base de datos Marvel</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width">
    <script src="../../static/marvel/js/jquery/jQuery-3.3.1.min.js"></script>
    <script src="../../static/marvel/js/bootstrap.min.js"></script>
    <script src="../../static/marvel/js/Consultas.js"></script>
    <link rel="stylesheet" href="../../static/marvel/css/bootstrap.min.css">   
</head>

<header class="container">
        <h1>Consulta de datos</h1>
        <hr/>  
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">            
          <a class="navbar-brand" href="#">Busquedas</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  <button class="col btn btn-sm btn-outline-secondary" type="button">Inicio</button>
                <div class="col"></div>
                  <button id="boton_evento" class="col btn btn-sm btn-outline-primary" type="button"   data-parent="#accordion" data-toggle="collapse"   href="#busqueda_evento"    onclick=" $('#busqueda_personaje').collapse('hide'); $('#busqueda_afiliacion').collapse('hide');">Eventos</button> <!-- .attr("disabled", "disabled"); -->
                <div class="col"></div>
                  <button id="boton_personaje" class="col btn btn-sm btn-outline-success" type="button"  data-parent="#accordion"  data-toggle="collapse"   href="#busqueda_personaje" onclick=" $('#busqueda_evento').collapse('hide');    $('#busqueda_afiliacion').collapse('hide');">Personajes</button>
                <div class="col"></div>
                  <button id="boton_grupoAfili" class="col btn btn-sm btn-outline-warning" type="button" data-parent="#accordion"  data-toggle="collapse"  href="#busqueda_afiliacion" onclick=" $('#busqueda_personaje').collapse('hide'); $('#busqueda_evento').collapse('hide');">Afiliaciones</button>
                    
                <div class="col"></div>
                  <button onclick="buscarGrupoConMasGanadores();" class="col btn btn-sm btn-outline-danger" type="button">Afiliacion con mas victorias</button>                      
              </div> 

          </div>              
        </nav>  
        <div class="panel-group" id="accordion"> <!-- Contenedor para que todos se cierrern -->
          <!--Busqueda Afiliacion-->
          <div class="panel-collapse collapse" id="busqueda_afiliacion"  >            
              <form>
                  <div class="form-group" id="busqueda_nombre_afiliacion">
                    <label for="recipient-name" class="col-form-label">Afiliacion:</label>
                    <div class = "row">
                      <select class="form-control" id="sel_Afil">
                         <option></option> 
                      </select>                  
                    </div>
                  </div>
  
                  <div class="form-group" id="busqueda_afiliacion">
                    <label for="recipient-name" class="col-form-label">Integrante:</label>                  
                    <div class = "row">
                      <select class="form-control" id="sel_Person">
                          <option></option>
                      </select>                  
                    </div>
                  </div>                
  
                  <div class="modal-footer">            
                    <button type="button" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#busqueda_afiliacion" onclick=" buscarAfiliacion(); $('#tablon_resultados_afiliaciones').css('display','block');" >Buscar</button>
                  </div>              
              </form>      
             </div>  
            <!-- Busqueda afiliacion fin-->

            <!--Busqueda personajes-->
          <div class="panel-collapse collapse" id="busqueda_personaje"  >            
              <form>
                  <div class="form-group" id="busqueda_nombre">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group" id="busqueda_afiliacion">
                    <label for="recipient-name" class="col-form-label">Grupo Afiliacion:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group" id="busqueda_categoria">
                    <label for="recipient-name" class="col-form-label">categoria:</label>
                    <select class="form-control" id="sel_categ">  
                    <option></option>                      
                    </select>
                  </div>

                  <div class="modal-footer">            
                    <button type="button" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#busqueda_personaje" onclick=" enviarPeticionBusqueda(); $('#tablon_resultados').css('display','block');" >Buscar</button>
                  </div>              
              </form>      
           </div>  
          <!--Busqueda personajes FIN-->

          <!--Busqueda Evento-->
          <div class="panel-collapse collapse" id="busqueda_evento"  >            
              <form>
                <div class="form-group">                
                  <label for="example-date-input" class="col-2 col-form-label">Fecha:</label>
                  <div class="col-10" id="busqueda_fecha">
                    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                  </div>
                </div>               
                
                <div class="modal-footer">            
                    <button onclick="buscarEvento(); $('#tablon_resultados_eventos').css('display','block');"type="button" class="btn btn-primary" data-toggle="collapse" data-target="#busqueda_evento">Buscar</button>
                </div>  

              </form>    
           </div>  
          <!--Busqueda Evento FIN-->
          
          
      </div>
        
        
</header>  

<body  class="container">  
    <div class="container" id="tablon_resultados" style="display:none;">
        <div id="titulo_resultados">
            <h5>Resultados de Busqueda</h5>
        </div>
        <table class="table table-dark" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th> 
                <th scope="col">Grupo</th> 
                <th scope="col">Categoria</th>                              
              </tr>
            </thead>
        </table>
        <div id="tablon_valores_personaje">
            <table class="table table-dark table-hover" >                
                <tbody id="cuerpo_tabla">
                    
                </tbody>                
          </table>
        </div>        
    </div>    

    <div class="container" id="tablon_resultados_afiliaciones" style="display:none;">
        <div id="titulo_resultados">
            <h5>Resultados de Busqueda</h5>
        </div>
        <table class="table table-dark" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th> 
                <th scope="col">Aumento de poder</th>                                              
              </tr>
            </thead>
        </table>
        <div id="tablon_valores_afiliacion">
            <table class="table table-dark table-hover" >                
                <tbody id="cuerpo_tabla_afiliacion">
                      
                </tbody>                
          </table>
        </div>        
    </div>    

    <div class="container" id="tablon_resultados_eventos" style="display:none;">
      <div id="titulo_resultados">
          <h5>Resultados de Busqueda</h5>
      </div>
      <table class="table table-dark" >
          <thead>
            <tr>
              <th scope="col">#</th>              
              <th scope="col">Fecha inicio</th> 
              <th scope="col">Fecha Fin</th> 
              <th scope="col">Duracion</th>
              <th scope="col">Ganador</th>  
              <th scope="col">Lugar</th>                                         
            </tr>
          </thead>
      </table>
      <div id="tablon_valores_eventos">
          <table class="table table-dark table-hover" >                
              <tbody id="cuerpo_tabla_eventos">
                    
              </tbody>                
        </table>
      </div>        
  </div>  

  <div class="container" id="tablon_resultados_ganador_grupo" style="display:none;" >
      <div id="titulo_resultados">
          <h5>Resultados de Busqueda</h5>
      </div>
      <table class="table table-dark" >
          <thead>
            <tr>
              <th scope="col">#</th>              
              <th scope="col">Personaje</th> 
              <th scope="col">fecha evento</th> 
              <th scope="col">Afiliacion</th>
              <th scope="col">Numero de victorias</th>                                                    
            </tr>
          </thead>
      </table>
      <div id="tablon_valores_eventos">
          <table class="table table-dark table-hover" >                
              <tbody id="cuerpo_tabla_ganador_grupo">
                    
              </tbody>                
        </table>
      </div>        
  </div>

</body>

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer --> 
<script>
$(document).ready(function(){
  crearModalFichaPerson();
  listaCategorias();
  listaPersonajes();
  listaAfiliacion();
});
</script>
<div id='modal_personaje'>

</div>
<div id='modal_afiliacion'>
  
</div>
<div id='modal_pelea'>
    <div class="modal modal-fade bd-example-modal-lg" id="modal_batallas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Batallas</h5>              
          </div>
          <div class="modal-content">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Etapa</th>   
                  <th scope="col">Personaje 1</th> 
                  <th scope="col">Personaje 2</th>  
                  <th scope="col">Resultado</th> 
                  <th scope="col">Duracion</th>  
                  <th scope="col">Fecha de Inicio</th>         
                </tr>
              </thead>
              <tbody id="datosBatallas">
                 
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
</html>