<!DOCTYPE html>
<html>
    {% load tables_forean %}
    {% load staticfiles %}
    {% load save_in_database %}    
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">       
    <script src="../../static/marvel/js/jquery/jQuery-3.3.1.min.js"></script>
    <script src="../../static/marvel/js/bootstrap.min.js"></script>
    <script src="../../static/marvel/js/Combate.js"></script>
    <link rel="stylesheet" href="../../static/marvel/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/marvel/css/evento_1.css">
    
</head>
{% csrf_token %} 
<script>
$("document").ready(function(){    
    if(sessionStorage.getItem("eventoActual")){
        if(JSON.parse(sessionStorage.getItem("lista_grupos")).length > 1){
            numeroEvento = sessionStorage.getItem("eventoActual");
            listaGrupos = JSON.parse(sessionStorage.getItem("lista_grupos"));
            numerosDeGrupos = listaGrupos.length;            
            //$("#siguiente_combate").attr("disabled","true");
            sessionStorage.setItem("totalGrupos",numerosDeGrupos);
            sessionStorage.setItem("actualGroup",1);
            prepararContendientes(1,numeroEvento,"{{ csrf_token }}");
        }else{
            alert("el numero de grupos no es el suficiente");
            var URLactual = 'http://127.0.0.1:8000/battles/'; 
            location.href = URLactual;
        }
        
    }else{
        alert("No se puede continuar si no hay un evento");
        var URLactual = 'http://127.0.0.1:8000/battles/'; 
        location.href = URLactual;
    }    
});
</script>
<body>
    <header class="container">
        <h1>Eventos</h1>
        <hr/>  
        <nav class="navbar navbar-light justify-content-between">
            <div class="navbar-brand">
                <button id="simular_combate" class="btn btn-primary my-2 my-sm-0" onclick="emparejarCombates('1');">Empezar combate</button>
            </div>            
            
            <button id="siguiente_combate" class="btn btn-danger my-2 my-sm-0" onclick="siguienteGrupo();">Siguiente grupo</button>
            
        </nav>      
    </header>  

    <section class="container " style="width:100%; margin-left:8.5%;" id="cuerpo_combate">
       <div class = "row">
        <div class="container" id="lista_personajes">
            <div id="titulo_lista_personajes">
                <h2>Grupo 1</h2>
            </div>
            <div class="list-group" id="nombre_personaje">          
                <button type="button" class="list-group-item list-group-item-action">Nombre</button> 
                <button type="button" class="list-group-item list-group-item-action">Nombre</button>              
            </div>                
        </div>

        <div class="container" id="tablon_resultados">
            <div id="titulo_resultados">
                <h5>Resultados de combates</h5>
            </div>
            <table class="table table-dark" >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Luchador 1</th>
                    <th scope="col">Luchador 2</th>
                    <th scope="col">Ganador</th>
                    <th scope="col">Tiempo</th>
                  </tr>
                </thead>
            </table>
            <div id="tablon_valores">
                <table class="table table-dark table-hover" >                
                    <tbody id="cuerpo_tabla">
                        
                    </tbody>                
              </table>
            </div>
            
        </div>
        <div class="container" id="conclusion">
            <div id="titulo_conclusion">
                <h5>Conclusion</h5>
            </div>
            <div id="cuerpo_conclusion">
                <div id="primer_lugar">

                </div>
               
                <div id="segundo_lugar">

                </div>
            </div>
        </div>
       </div>       
    </section>
    <section class="container" id="cuerpo_historial">
        <div class = "row">
            <div class="container" id="lista_personajes">
                <div id="titulo_lista_personajes">
                    <h2>Grupo 0</h2>
                </div>
                <div class="list-group" id="nombre_personaje_2">          
                               
                </div>                
            </div>
    
            <div class="container" id="tablon_resultados">
                <div id="titulo_resultados">
                    <h5>Resultados de combates</h5>
                </div>
                <table class="table table-dark" >
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Luchador 1</th>
                        <th scope="col">Luchador 2</th>
                        <th scope="col">Ganador</th>
                        <th scope="col">Tiempo</th>
                      </tr>
                    </thead>
                </table>
                <div id="tablon_valores">
                    <table class="table table-dark table-hover" >                
                        <tbody id="cuerpo_tabla_2">
                            
                        </tbody>                
                  </table>
                </div>
                
            </div>
            <div class="container" id="conclusion">
                <div id="titulo_conclusion">
                    <h5>Conclusion</h5>
                </div>
                <div id="cuerpo_conclusion">
                    <div id="primer_lugar">
                        <hr>
                    </div>
                    <div id="segundo_lugar">
    
                    </div>
                </div>
            </div>
           </div> 
    </section>
</body>
   
</html>