<DOCTYPE HTML>
        {% load save_in_database %}
    <html>
    <head>
    <meta charset="utf-8">
    <title>PRUEBA</title>
    </head>
    
    <body>
      <div class="container">
        <div class="row">
            <div class="form_bg">
                <form method="POST">
                    {% csrf_token %}
                    
                  <br/>
                     <h2 class="text-center">HAHA</h2>
                    <br/><br/>
                    <div class="form-group">
                        <input type="number" name="Personaje1" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="number" name="Personaje2" class="form-control">
                    </div>
                    <br/>
                    <div class="align-center">
                      <button type="submit" class="btn btn-success" id="test" >PRUEBA</button>
                    </div>
                </form>
            </div>
    
        </div>
    </div>
    </body>
    </html>