<!DOCTYPE html>
<html>
        {% load tables_forean %}
        {% load save_in_database %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <script src="../../static/marvel/js/jquery/jQuery-3.3.1.min.js"></script>
    <script src="../../static/marvel/js/jquery/jquery-ui.min.js"></script>
    <script src="../../static/marvel/js/bootstrap.min.js"></script> 
    <script src="../../static/marvel/js/BdToLocalStorage.js"></script> 
    <link rel="stylesheet" href="../../static/marvel/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/marvel/css/autocomplete.css">
</head>

<body>    
  <!-- Busqueda de personaje-->
  <div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Personaje</h5>              
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Grupo Afiliacion:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">categoria:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              
            </form>
          </div>
          <div class="modal-footer">            
            <button type="button" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  <!-- Fin de busqueda de personaje-->




  <!-- Busqueda de Evento-->
  <div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Evento</h5>              
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">                
                <label for="example-date-input" class="col-2 col-form-label">Fecha:</label>
                <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
              </div>

              <form method="GET" autocomplete="off" action="/autoCompleteLugar/">                   
                <div class="ui-widget autocomplete">
                    <label for="lugar_input" class="control-label">Lugar:</label>
                    <input  type="text" id="lugar_input" class="form-control">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">Duracion (Dias):</label>
                    <input data-toggle="tooltip" data-placement="top" title="maximo 3 dias" type="number" min="1" max ="3" class="form-control" id="dias_select">
                </div>
              </form>

            </form>

          </div>
          <div class="modal-footer">            
            <button type="button" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  <!-- Fin de busqueda de Evento-->

  
  <!-- Ficha Personaje -->

  <!-- Fin ficha personaje -->

</body>

</html>